/* 
  #lst-checklist { 
float: left; width: 50% !important; 
}
*/

#div-checklist-container{
  overflow: auto;
  -webkit-overflow-scrolling:touch; 
  width:50% !important;
  float: left;
  
}

#btn-checked {
 float: right;
 width: 50% !important;
}
